section{
    /* margin-top: 20px; */
    padding-top: 100px;
    /* background-color: var(--backgound-color); */
}

.flex {
    display: flex;
}

.w-full {
    width: 100%;
}

.block {
    display: block;
}

/* img {
    height: auto;
    max-width: 100%;
    display: block;
    vertical-align: middle;
} */

a {
    color: inherit;
    text-decoration: inherit;
}

.object-cover {
    object-fit: cover;
}

.box-filter {
    position: relative;
    font-size: 0;
    padding-top: 10px;
}

.box-filter section {
    background-color: #ffffff;
    padding: 0 10px;
    border-radius: 8px 8px 0 0 solid #8b8686;
    
}

section {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.box-quicklink {
    display: flex;
    flex-wrap: wrap;
}

.list-quickfilter .q-manu {
    width: 100%;
}

.list-quickfilter {
    display: flex;
    flex-wrap: wrap;
}

.box-quicklink__item.bd-radius {
    border-radius: 52px;
}

.box-quicklink__item {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    line-height: 13px;
    margin-right: 8px;
    margin-bottom: 10px;
    min-height: 36px;
    max-height: 36px;
    padding: 6px 13px;
    vertical-align: top;
}

.box-quicklink__item img.no-text {
    margin-right: 0;
}

.box-quicklink__item img {
    vertical-align: middle;
    width: auto;
    height: 20px;
    margin-right: 5px;
}

.list-quicksize {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.scrolling__inner {
    position: relative;
}

.scroll-btn {
    position: absolute;
    width: 1200px;
    z-index: 10;
}

.btn-right-scroll {
    position: absolute;
    display: none;
    right: 0;
}

.filter-item,
.filter-total {
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    margin-right: 8px;
    position: relative;
    padding-bottom: 10px;
}

.filter-item__title {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 10px;
}

.filter-total i {
    margin-right: 5px;
}

.fa-light .fa-filter {
    background-position: -280px -60px;
    height: 14px;
    width: 11px;
}

.arrow-filter p {
    padding: 0;
}

.filter-item__title span {
    padding-right: 12px;
    position: relative;
}

.filter-item__title span::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: '';
    position: absolute;
    top: 6px;
    right: 0;
    width: 0;
}

.block-manu .filter-show {
    width: 547px;
}


section#categoryPage {
    background-color: #FFF;
    padding: 10px;
    border-top: 1px solid #e2dfdf;;
}

.desktop .cate {
    min-height: 700px;
}


.box-sort {
    margin: 10px 0;
    display: block;
    overflow: visible;
}

.sort-total {
    float: left;
    font-weight: bold;
    margin: 0 25px 15px 0;
    padding-top: 3px;
}

.box-checkbox {
    float: left;
    margin: 0 0 15px;
}

a.c-checkitem.fastdeli {
    background: #e1f2e8;
    padding: 4px 8px 5px 5px;
    border-radius: 4px;
}

.box-checkbox .c-checkitem {
    margin-right: 25px;
}

.box-checkbox a {
    color: #000;
}

.c-checkitem {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    cursor: pointer;
}

.c-checkitem .active {
    position: relative;
}

.c-checkitem.active::before {
    height: 8px;
    left: 4px;
    transform: rotate(-35deg);
}

.c-checkitem.active::before,
.c-checkitem.active::after {
    background-color: #fff;
    bottom: 2px;
    border-radius: 20px;
    content: '';
    position: absolute;
    width: 2px;
}

.c-checkitem.active::after {
    height: 12px;
    left: 9px;
    transform: rotate(35deg);
}

.c-checkitem .tick-checkbox,
.c-checkitem p {
    display: inline-block;
    /* vertical-align: middle; */
}

.c-checkitem .tick-checkbox {
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    margin-right: 2px;
    height: 16px;
    width: 16px;
}

.c-checkitem .tick-checkbox {
    background: #fff;
}

.c-checkitem.active .tick-checkbox {
    background-color: #4a90e2;
    border: none;
}

.sort-select {
    float: right;
    position: relative;
    margin-bottom: 10px;
}

.sort-select .click-sort {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    padding: 6px 10px 6px 8px;
}

.sort-select .sort-show {
    padding-right: 12px;
    position: relative;
}

.sort-select-main {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
    display: none;
    position: absolute;
    padding: 0 7px;
    top: 30px;
    right: 0;
    width: 160px;
    z-index: 2;
}
.sort-select .sort-show::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: '';
    height: 0;
    position: absolute;
    top: 6px;
    right: 0;
    width: 0;
}
.container-productbox {
    display: block;
    overflow: hidden;
    width: 100%;
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
    background: rgba(255, 255, 255, .75);
}

.container-productbox #preloader:not(.fixed) #loader {
    top: 5% !important;
}

#loader {
    display: block;
    position: relative;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

.listproduct {

    align-items: center;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    border-left: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}

.listproduct li.item {
    background: #fff;
}

.listproduct .item {
    padding: 10px 15px 20px;
    overflow: hidden;
}

.listproduct .item {
    display: block;
}

.listproduct li {
    border-bottom: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    padding: 5px;
}

.listproduct .item a {
    display: block;
}

a {
    text-decoration: none;
    transition: .2s;
    color: #ec6543;
}

.listproduct .item-img.item-img_ {
    height: 160px;
}

.listproduct .item-img {
    line-height: 225px;
    position: relative;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.listproduct .item .item-img img {
    margin-top: 8px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.listproduct .item-img img {
    margin-bottom: 0;
    margin-top: 8px;
}

.listproduct img {
    max-width: 100%;
}

.listproduct h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.listproduct .item-compare {
    font-size: 0;
    margin-bottom: 5px;
}

.listproduct .item-compare span {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 12px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    white-space: nowrap;
}

.listproduct .box-p {
    margin-bottom: 5px;
}

.listproduct .price-old.black {
    color: #333;
}

.listproduct .price-old {
    color: #666;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
}

.listproduct .percent {
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
}

.listproduct .price {
    color: var(--product-price-color);
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}

.listproduct .item-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
}

.listproduct .item-rating p {
    display: inline-block;
}

.icon-star {
    background-position: -205px -60px;
    height: 12px;
    width: 13px;
}

.listproduct .item-rating p {
    display: inline-block;
}

.listproduct .item-rating-total {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
}

.view-more {
    display: block;
    clear: both;
    width: 100%;
}

.view-more a {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: center;
    border-radius: 4px;
    margin: 10px auto;
    width: 340px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
}


.view-more a::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    content: '';
    position: relative;
    right: -5px;
    top: 11px;
}
.block-manu .filter-show {
    width: 547px;
}
.filter-show {
    display: none;
    background-color: #fff;
    box-shadow: 0 2px 20px rgba(0,0,0,.5);
    border-radius: 4px;
    max-width: 600px;
    min-width: 382px;
    left: 0;
    position: absolute;
    padding: 10px 10px 0 10px;
    top: 45px;
    width: max-content;
    white-space: normal;
    z-index: 3;
}
.filter-list--hang {
    margin: 0 -4px;
    max-height: 23vh;
    overflow: hidden;
    overflow-y: auto;
}
.filter-list {
    display: flex;
    flex-wrap: wrap;
}
.filter-list--hang .c-btnbox {
    height: 36px;
    margin: 0 4px 10px;
    padding: 0;
    width: 99px;
}
.c-btnbox {
    align-items: center;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    color: #333;
    display: flex;
    font-size: 14px;
    justify-content: center;
    line-height: 17px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px 9px;
}
.c-btnbox img {
    display: flex;
    width: auto;
    max-height: 25px;
    max-width: 98%;
    object-fit: contain;
    justify-content: center;
}
.filter-button {
    background-color: #fff;
    box-shadow: 0 -4px 8px rgba(0,0,0,.05);
    font-size: 0;
    margin: 8px -10px 0;
    padding: 8px 10px;
    text-align: center;
    display: none;
}
.btn-filter-close {
    border: 1px solid #dd1c1a;
    color: #dd1c1a;
}
.btn-filter-close, .btn-filter-readmore {
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    width: 170px;
    position: relative;
}
.btn-filter-readmore {
    background-color: #288ad6;
    color: #fff;
}
.btn-filter-close, .btn-filter-readmore {
    border-radius: 4px;
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    margin: 0 5px;
    padding: 10px 0;
    text-align: center;
    width: 170px;
    position: relative;
}
.bg-black .filter-item__title.active span::before {
    transform: rotate(-180deg);
}
.filter-item__title.showing.active span::before {
    transform: rotate(-180deg);
}
.filter-item__title span::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333;
    content: '';
    height: 0;
    position: absolute;
    top: 6px;
    right: 0;
    width: 0;
}