section{
    /* margin-top: 20px; */
    padding-top: 100px;
    padding-bottom: 30px;
    background-color: var(--backgound-color);
}

.breadcrumb {
    padding-left: 20px;
    display: block;
    overflow: hidden;
    margin: 0;
    background: #ffffff;
    line-height: 32px;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.breadcrumb li {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    line-height: unset;
    font-size: 14px;
}

.breadcrumb span {
    display: inline-block;
    white-space: nowrap;
    font-size: 20px;
    color: #979393;
    padding: 0 10px;
}

.breadcrumb li a {
    display: inline-block;
    white-space: nowrap;
    font-size: 14px;
    color: #979393;
    /* padding: 0 10px 0 0; */
    text-decoration: none;
}

section h1 {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin-left: 22px;
}

.rate--box {
    padding: 0 10px;
    /* position: relative; */
    display: inline-block;
    vertical-align: middle;
    min-height: 16px;
    min-width: 100px;
}

.rate--box-left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.detail-rate {
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    margin-bottom: 1px;
}

.detail-rate p {
    display: inline-block;
}

.detail-rate i {
    margin-right: 2px;
}

.fa-solid fa-star {
    background-position: -140px -40px;
    height: 11px;
    width: 12px;
}

.detail-rate-total {
    color: #0367DD;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    /* 300% */
}

.main--box {
    margin-bottom: 10px;
    
    display: flex;
}

.left-box {
    margin-left: 30px;
    display: block;
    /* border: 1px solid white; */
    border-radius: 10px;
}

.left-box .main--img-box {

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image {
    height: 351px;
    width: auto;
}

.small--imgs {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    margin: 0px 10px 0px 10px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    /* border: 1px solid white; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-product{
    display: inline-block;
    width: 80%;
}

.image {
    height: 60%;
    width: auto;
}

.right-box {
    margin-left: 30px;
    margin-right: 30px;
}

.pick-size-box {
    margin-bottom: 10px;
}

.size-box {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    color: #333;
    display: inline-block;
    font-size: 13px;
    min-width: 67px;
    padding: 0 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-right: 2px;
    vertical-align: top;
    height: 36px;
    line-height: 36px;
    position: relative;
    text-decoration: none;
}

.locate-price-box {
    line-height: 16px;
    margin-bottom: 10px;
}

.locate-price-box a {
    color: #0367DD;
    position: relative;
    padding-right: 20px;
    text-decoration: none;
}

.post--box {
    border-radius: 10px;
    background-color: rgba(250, 152, 132, 0.49);
    padding-bottom: 1px;
    border-radius: 10px;
    position: relative;
    
}

.post--box .bs-title {
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 10px 10px 0 0;
}

.post--box .bs-title div.bs-price {
    width: 50%;
    margin-left: 29px;
}

.post--box .bs-title div.bs-price>strong {
    display: block;
    font-size: 23px;
    font-weight: bolder;
    color: #E74646;
}

.post--box .bs-title div.bs-price>em {
    margin-bottom: 7px;
    font-weight: lighter;
    color: #787878;
    text-decoration: line-through;
    font-style: normal;
    font-size: 12px;
}


.bs-time {
    color: #000;
    text-align: center;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    /* 141.667% */
}

.post--box .bs-title div.bs-time {
    width: 50%;
    text-align: right;
    margin-right: 7px;
    display: block;
}

.post--box .bs-title div.bs-time span {
    color: #ffffff;
    display: absolute;
    margin-bottom: 5px;
    margin-right: 5px;
}

div.bs_time .clock {
    display: inline-block;
    margin-bottom: 5px;
    height: 24px;
    margin-right: 25px;
}

div.bs_time .date {
    display: inline-block;
    margin-bottom: 5px;
    height: 24px;
    margin-right: 5px;
}

.post--box .bs-content {
    background-color: #ffffff;
    margin: 0px 5px 5px 5px;
    padding-bottom: 0;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}

.post--box .bs-content .promo-box {
    border: 0;
    padding: 7px 7px 10px 7px;
    margin-bottom: 10px;
}

.post--box .bs-content .pr-top {
    padding: 0;
    border: 0;
    background-color: none;
}

.pr-text-box {
    font-weight: bolder;
}

.pr-top .pr-text {
    color: #666;
    font-size: 12px;
    line-height: 1.4;
    margin-top: 5px;
    font-style: normal;
}

.post--box .bs_content .pr-content .pr-item {
    padding: 7px 0 10px 0;
}

.content-pr-box {
    margin-bottom: 10px;
}

.content-pr-box .nb {
    border-radius: 50%;
    color: #000000;
    display: inline-block;
    font-size: 11px;
    float: left;
    height: 16px;
    line-height: 16px;
    margin-top: 2px;
    text-align: center;
    width: 16px;
}

.content-pr-box .content-pr {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.content-pr-box .content-pr .content-pr-box-li {
    background-color: #ffffff;
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    padding-bottom: -10px;
    list-style-type: disc;
}

.content-pr-box-li li {
    padding-bottom: 10px;
}

.rating--box {
    box-sizing: border-box;
    max-width: 780px;
    border-radius: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 30px;
    color: #333;
    outline: none;
    border-radius: 15px;
    background: #FFF;
    box-shadow: 0px 0px 10px 10px rgba(200, 200, 200, 0.25), 0px 4px 4px 0px rgba(226, 226, 226, 0.25);
}

.rating--box .boxrate-topzone .boxrate-title {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    /* 333.333% */
}

.boxrate-top-left {
    margin-left: 22px;
    display: block;
    width: 120px;
    height: 70px;
    border-right: 1px solid #E2E2E2;
    padding-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxrate-top-right {
    float: right;
    display: block;
    height: 100px;
    text-align: center;
    box-sizing: border-box;
    width: 300px;
}

.boxrate-top {
    width: 576px;
    height: auto;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}


.comment-list {
    color: #222b45;
    margin-top: 20px;
    max-width: 680px;
    text-align: left;
}

.comment-list li {
    border-bottom: 1 solid #ebf0f9;
    padding: 15px 0;
}
.comment-top {
    padding-bottom:5px;

}
.comment-star{
    padding-bottom:5px;
}
.comment-list .name-user {
    text-transform: capitalize;
    color: #222b45;
    display: inline;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
}

.rating-list {
    padding-bottom: 20px;
    border-bottom: 1px solid #E2E2E2;
}

.rating-write {
    align-items: center;
    margin-top: 20px;
    padding: 10px;
}

.input-rating {
    padding-left: 5px;;
    border-radius: 5px;
    border: 1px solid #000;
    background: #FFF;
    width: 556px;
    height: 38px;
    flex-shrink: 0;
}

#submit-rating {
    margin-top: 10px;
    border: none;
    width: 53px;
    height: 18px;
    flex-shrink: 0;
    float: right;
    border-radius: 15px;
    cursor: pointer;
    background: #CEA7A7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.star-rating em{
    color: rgba(130, 128, 128, 0.78);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 250% */
}
.star-rating span{
    color: rgba(130, 128, 128, 0.78);
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 250% */
}