/* nav */
nav .header-nav{ 
    text-align: left;
    list-style: none;
    padding-top: calc(var(--header-height) + 12px);
    margin-bottom: 0;
    width: 100%;
    padding-left: 10px;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
}

nav .nav-categories{
    background-color: var(--primary-color);
    padding: 5px 100px 5px 10px;
    width: 300px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

nav .nav-categories a{
    color: var(--while-color);
}

/* section */
section{
    z-index: 1;
    background-color: var(--backgound-color);
    /* height: 2000px;  */
    
}

section .nav-categories-list{
    color: var(--text-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    margin-left: 12px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    width: 300px;
    height: 374px;
}

section .nav-categories-list li{
    color: var(--text-color);
    padding: 5px 0 ;
    border-radius: var(--border-radius);
    width: 340px;
    text-align: left;
    /* padding-left: 40px; */
    list-style: none;
    width: 100%;
}

section .nav-categories-list a{
    color: var(--text-color);
    /* text-align: left; */
    font-weight: normal;
    text-decoration: none;
    margin-left: 20px;
}

section .nav-categories-list a:hover{
    color: var(--primary-color);
}

section .banner{
    padding: 0;
    /* box-sizing: inline-block; */
}

section .banner img{
    width: 100%;
    height: auto;
}

section .ads{
    padding: 0;
}

section .ads img{
    width: 96%;
    height: auto;
    /* padding-left: 20px; */
}

section .hot-deal h3{
    background-color: var(--primary-color);
    color: var(--while-color);
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    font-style: italic;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    margin-bottom: 0;
}

section .hot-deal .hot-deal-content{
    background-color: var(--while-color);
    height: 300px;
    border: 1px solid var(--primary-color);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

}


section .sale,
section .hot-deal{
    width: 100%;
    margin-top: 100px;
    position: relative;
}

section .sale h3{
    color: var(--primary-color);
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    font-style: bold;
    margin-bottom: 0;
}

section .sale .sale-content{
    background-color: var(--while-color);
    height: 300px;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}

section .sale .sale-content,
section .hot-deal .hot-deal-content{
    display: flex;
    justify-content: space-around;
    padding: 0 40px;
}


section .hot-deal .product,
section .sale .product{
    background-color: #ccc;
    margin: 20px 40px 80px 40px;
    width: 20%;
}

section .hot-deal .slide-btn,
section .sale .slide-btn{
    line-height: 100%;
    text-align: center;
    margin: auto;
}

section .hot-deal .see-all-btn,
section .sale .see-all-btn{
    background-color: var(--while-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    padding: 5px 60px;
    position:absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
}

section .hot-deal a,
section .sale a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 24px;
}




/* -----------------------------*/



